.mainSection {
    display: flex;
    flex-direction: row;
}


li {
    list-style-type: none;
    margin-right:25px;

}

#logo {
    width: clamp(10vw, 10vw + 100px, 250px);
}

@media screen and (max-width: 400px) {
    .mainSection {
        /* display: flex; */
        flex-direction: column;
    }
    #pantryListDisplay {
    width: auto;
}

}
